name: Build and test - MacOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Debug
  DEPS_DIR: ${{ github.workspace }}/../dependencies

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Cache dependencies
      id: cache-deps
      uses: actions/cache@v1
      with:
        path: ${{ env.DEPS_DIR }}
        key: ${{ runner.os }}-dependencies

    - name: Install QT
      uses: jurplel/install-qt-action@v2
      with:
        dir: ${{ env.DEPS_DIR }}
        version: 5.12.7
        cached: ${{ steps.cache-deps.outputs.cache-hit }}

    - name: Create build folder
      run: cmake -E make_directory ${{ github.workspace }}/build

    - name: Configure CMake
      shell: bash
      working-directory: ${{ github.workspace }}/build
      run: cmake ${{ github.workspace }} -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{ github.workspace }}/build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

    - name: Run tests
      working-directory: ${{ github.workspace }}/build
      shell: bash
      run: GTEST_COLOR=1 ctest -V CTEST_OUTPUT_ON_FAILURE=TRUE
